{% extends 'layout.twig' %}
{% block title %}P3X GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container" id="p3x-gitlist-index">
    <div class="search form-group">
        <div class="input-group">
            <input class="search form-control" name="query-repo" placeholder="Search repositories" autofocus value=""/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="p3x-gitlist-index-list-clear">
                    <i class="fas fa-times"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="list">
        {% for repository in repositories %}
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
               <th>
                   <a class="btn btn-link btn-sm p3x-gitlist-index-reponame" href="{{ path('repository', {repo: repository.name}) }}">
                       <span class="name">{{ repository.name | remove_extension }}</span>
                   </a>
                   <a class="btn btn-info btn-sm pull-right" href="{{ path('rss', {repo: repository.name, branch: 'master'}) }}"><i class="fa fa-rss pull-right"></i></a>
               </th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a class="btn btn-link btn-sm pull-right p3x-gitlist-index-repo-last-commit" href="{{ path('commits', {repo: repository.name}) }}">
                            <span class="p3x-gitlist-index-repo-last-commit-time">{{ repository.time }}</span>
                            by
                            <span class="p3x-gitlist-index-repo-last-commit-user">{{ repository.user }}</span>
                            on
                            {{ repository.branch }}
                        </a>
                        <div class="description p3x-gitlist-index-description" >
                        {% if repository.description %}
                            {{ repository.description }}
                        {% else %}
                            There is no repository description file. Please, create one to remove this message.
                        {% endif %}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>


    {% include 'footer.twig' %}
</div>
{% endblock %}
