{% if commits %}
{% for date, commit in commits %}
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">{{ date | date("F j, Y") }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in commit %}
        <tr>
            <td width="5%"><img src="{{ avatar(item.author.email, 40) }}" /></td>
            <td width="95%">
                <span class="pull-right">
                    <a class="btn btn-default btn-sm" href="{{ path('branch', {repo: repo, branch: item.hash}) }}" title="Browse code at this point in history"><span class="fa fa-list-alt"></span>&nbsp;Browse</a>

                    <a class="btn btn-default default btn-sm" href="{{ path('commit', {repo: repo, commit: item.hash}) }}"><span class="fa fa-list-alt"></span>&nbsp;Changes</a>
                </span>
                <h4>{{ item.message }}</h4>
                <h6 title="{{ item.hash }}" class="pull-right" style="margin: 0; cursor: pointer;">
                    <span class="hidden-xs">{{ item.hash }}</span>
                    <span class="hidden-sm hidden-md hidden-lg">{{ item.shortHash }}</span>
                </h6>
                <h6>
                    <a href="mailto:{{ item.author.email }}">{{ item.author.name }}</a> authored on {{ item.date | format_date }}
                    {% if item.author.email != item.commiter.email %}
                    &bull; <a href="mailto:{{ item.commiter.email }}">{{ item.commiter.name }}</a> committed on {{ item.commiterDate | format_date }}
                    {% endif %}
                </h6>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% else %}

    <h4>
        No more commits.
    </h4>

{% endif %}

{% if page != 'searchcommits' %}
<ul class="pager">
    {% if pager.current != pager.last %}
    <li class="next" id="p3x-gitlist-commit-list-next">
        <a href="?page={{ pager.next }}">Older / Next &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
