<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{ app.url_subdir }}/"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="generated/css/{{ theme }}.{{ theme_postfix }}.css" id="bootstrap-theme">
    <script type="text/javascript">window.gitlist = { lastload: undefined, lastloadSpan: undefined, dark: {{  theme_dark |json_encode|raw }}, isDark: undefined, viewer: undefined, setTheme: undefined, getThemeCookie: undefined, basepath: '{{ app.url_subdir }}', branch: '{{ branch }}', repo: '{{ repo }}', dateFormat: '{{ gitlist_date_format }}', themes: {}, codemirror_full_limit: undefined, browse_type: undefined, search_query: '{{ search_query }}', browserClick: undefined, networkRedraw: undefined, treegraph: undefined, canvasLaneColors: undefined, canvasDotColors: undefined, randomCanvasLaneColors: undefined, loadTheme: '{{ theme }}', codemirrorTheme : {}, scrollIntoView: undefined}</script>
</head>
<body class="{{ theme_type }}">

{% block body %}{% endblock %}
{% block javascripts %}

{% endblock %}



</body>
</html>
