<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">

    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ app.url_subdir }}/themes/{{ app.theme }}/img/favicon.png"/>
</head>

<body>

{% block body %}{% endblock %}
{% block javascripts %}

    <!-- bower:css -->
    <link rel="stylesheet" href="{{ app.url_subdir }}/bower_components/codemirror/lib/codemirror.css" />
    <!-- endbower -->

    <link rel="stylesheet" type="text/css" href="{{ app.url_subdir }}/themes/{{ app.theme }}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ app.url_subdir }}/themes/{{ app.theme }}/css/{{ theme }}.css"
          id="bootstrap-theme">
    <link rel="stylesheet" type="text/css" href="{{ app.url_subdir }}/themes/{{ app.theme }}/css/fontawesome.css">


    <!-- bower:js -->
    <script src="{{ app.url_subdir }}/bower_components/marked/lib/marked.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/jquery/dist/jquery.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/js-htmlencode/src/htmlencode.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/lodash/lodash.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/codemirror/lib/codemirror.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/codemirror/addon/mode/simple.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/codemirror/addon/mode/multiplex.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/codemirror/mode/xml/xml.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/codemirror/mode/javascript/javascript.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/codemirror/mode/css/css.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/codemirror/mode/handlebars/handlebars.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/codemirror/mode/markdown/markdown.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/codemirror/mode/yaml/yaml.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/codemirror/mode/sass/sass.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/eve-raphael/eve.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/raphael/raphael.min.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/php-date-formatter/js/php-date-formatter.js"></script>
    <script src="{{ app.url_subdir }}/bower_components/twemoji/2/twemoji.js"></script>
    <!-- endbower -->

    <script type="text/javascript">
        const gitlist = {
            basepath: '{{ app.url_subdir }}',
            branch: '{{ branch }}',
            repo: '{{ repo }}',
            dateFormat: '{{ gitlist_date_format }}'
        }
    </script>
    <script src="{{ app.url_subdir }}/themes/{{ app.theme }}/js/list.min.js"></script>
    <script src="{{ app.url_subdir }}/themes/{{ app.theme }}/js/main.js"></script>
    <script src="{{ app.url_subdir }}/themes/{{ app.theme }}/js/network-graph.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ app.url_subdir }}/themes/{{ app.theme }}/js/gitgraph.js/gitgraph.css">
    <script src="{{ app.url_subdir }}/themes/{{ app.theme }}/js/gitgraph.js/gitgraph.js"></script>

    <script src="{{ app.url_subdir }}/themes/{{ app.theme }}/js/gitgraph-draw.js"></script>
    <script src="{{ app.url_subdir }}/themes/{{ app.theme }}/js/themes.js"></script>
    <script src="{{ app.url_subdir }}/themes/{{ app.theme }}/js/theme-switcher.js"></script>
{% endblock %}


</body>
</html>
